.course-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.course-title {
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: bold;
  color: #171f46;
}

.duration-container {
  display: flex;
  flex-direction: row;
}
.icon {
  height: 20px;
  width: 20px;
  margin-top: 18px;
  margin-right: 10px;
}
.duration {
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: bold;
  color: black;
}
.description {
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 500;
  color: #1e293b;
}
.tags-main-container {
  display: flex;
  flex-wrap: wrap;
}
.list-tem {
  background-color: lightgray;
  margin: 5px;
  font-size: 11px;
  font-family: 'Roboto';
  font-weight: 500;
  color: #1e293b;
  padding: 3px;
}
